.about {
    font-size: 1.3rem;
}
main {
    margin-top: 3rem;
}
.ctitle {
    font-size: 2rem;
}
.nav-item{
    margin-left: 100px;
}


  
.form-label{
    color: white;
    font-size: 20px;
}